<!-- INCLUDE overall_header.html -->
<style type="text/css">
    <!--
    .panel .inner .content p {
        font-family: Times New Roman, Times, serif;
    }
    .panel .inner .content blockquote blockquote blockquote blockquote blockquote blockquote p b {
        color: #74A9E4;
    }
    .panel .inner .content blockquote blockquote blockquote blockquote blockquote blockquote p {
        color: #C0DFFE;
    }
    .panel .inner .content blockquote blockquote blockquote blockquote blockquote blockquote h2 b {
        font-family: Times New Roman, Times, serif;
    }
    .panel .inner .content blockquote blockquote blockquote blockquote blockquote blockquote h2 b {
        color: #85B8EF;
    }
    .panel .inner .content blockquote blockquote blockquote blockquote blockquote blockquote h2 {
        font-family: Times New Roman, Times, serif;
    }
    .panel .inner .content blockquote blockquote blockquote blockquote blockquote blockquote h2 {
        color: #B1C9E0;
    }
    .panel .inner .content blockquote blockquote blockquote blockquote blockquote blockquote ol li h3 {
        font-family: Times New Roman, Times, serif;
    }
    -->
</style>






<h2 class="panel">-M-embership Application</h2>




<div class="panel">

    <div class="inner">
        <h2>
            <span class="corners-top"><span></span></span>
        </h2>
        <div class="content">         
            <h2 align="center">

                <b>Myrmidons Gaming formed February 2007, from the late great FPS Far Cry.<br />
                    -M- is a friedly mature, gaming community that is focused on 
                    providing the best gaming experience.
                    <br />
                    -M- supports casual and  competitive gaming.<br />
                    To apply for -M-embership, complete Joining Application<br />

                </b>
                <br />

                <br />


                Mýrm!dõn§ Gaming International®<br />

                Membership rules must be agreed upon<br />

                and followed to obtain and<br />

                continue -M-embership.<br />

                <br />

                Do NOT put on a clan tag until you have been accepted. Putting in an application does NOT mean you are in the clan.<br />

                <br />

                I started Myrmidons Gaming to create an atmosphere you would invite in your own living room. Hence the start of -M- <br />
                This Gaming clan is built on an honorable foundation meaning, 
                be nice to other players, members or not. Show respect and class when posting at other clan sites and gaming community forums. Show courtesy to other clans and their members.
                Don't accuse players of cheating, Have sportsmanship in game servers. -M- is built with the idea of integrity, honor, fairness & friendliness 
                and Sportsmanship. -M- will do what it takes to maintain this foundation.<br />
                <br />
                -M-SomeofThis L&amp;F</h2>

           <hr />


            <h3><u>	Clan Rules</u></h3>
            <ol>
                <li>
                    <h3><strong>NO Cheating in any way including testing or use of in game glitches.</strong></h3>
                </li>
                <li>
                    <h3><strong>While in gaming servers, follow the RULES, Do Not:
                        </strong></h3>
                    <ol>
                        <li>
                            <h3><strong>Argue or Harass other players</strong></h3>
                        </li>
                        <li>
                            <h3><strong>Call names</strong></h3>
                        </li>
                        <li>
                            <h3><strong>Accuse of hacking, public or private</strong></h3>
                        </li>
                    </ol>
                </li>
                <li><h3><strong>Respect other clans, communities servers and websites.</strong></h3></li>
                <li><h3><strong>Always show sportsmanship in gameservers.</strong></h3></li>
                <li><h3><strong>Only use your -M-Tag with the name that you registered in your membership application.</strong></h3></li>
                <li><h3><strong>Use your registration name with all games, forums and Teamspeak </strong></h3></li>
                <li><h3><strong>-M- tag is required in all games, no allias names with your tag<br />
                    </strong></h3><br />
                </li>
            </ol>
            <hr />

                <h3>&nbsp;&nbsp;Membership Requirements</h3>
                <ul>
                    <li>
                        <h3>17 years of age or older</h3>
                    </li>
                    <li>
                        <h3>Working Mic / Headset</h3>
                    </li>
                    <li>
                        <h3>Team Speak 3</h3>
                    </li>
                </ul>
            
            <hr />
            <br />
            <form action='memberapp/post' method='post'>
                
                <br />
               
                <table width="100%" border="0" cellspacing="0" cellpadding="0">

                    <tr>

                        <td width="15%">&nbsp;</td>

                        <td align="right"><u>Real Name</u>:</td>

                    <td width="10">&nbsp;</td>

                    <td><input type='text' size='30' name='flname' /></td>

                    <td width="15%">&nbsp;</td>

                    </tr>

                    <tr>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                    </tr>

                    <tr>

                        <td>&nbsp;</td>

                        <td align="right"><u>Gaming Name</u>:</td>

                    <td align="right">&nbsp;</td>

                    <td><input type='text' size='30' name='gamename' /></td>

                    <td>&nbsp;</td>

                    </tr>

                    <tr>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                    </tr>

                    <tr>

                        <td>&nbsp;</td>

                        <td align="right"><u>Age</u>:</td>

                    <td align="right">&nbsp;</td>

                    <td><input type='text' maxlength='2' size='4' name='age' /></td>

                    <td>&nbsp;</td>

                    </tr>

                    <tr>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                    </tr>

                    <tr>

                        <td>&nbsp;</td>

                        <td align="right"><u>Gender</u>:</td>

                    <td align="right">&nbsp;</td>

                    <td><input type="radio" name="sex" value="Male" /> Male <input type="radio" name="sex" value="Female" /> Female</td>

                    <td>&nbsp;</td>

                    </tr>

                    <tr>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                    </tr>

                    <tr>

                        <td>&nbsp;</td>

                        <td align="right"><u>Location</u>:</td>

                    <td align="right">&nbsp;</td>

                    <td><input type='text' size="30" name='location' /></td>

                    <td>&nbsp;</td>

                    </tr>

                    <tr>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                    </tr>

                    <tr>

                        <td>&nbsp;</td>

                        <td align="right"><u>Steam Username</u>:</td>

                    <td align="right">&nbsp;</td>

                    <td><input type='text' size="30" name='steam' /></td>

                    <td>&nbsp;</td>

                    </tr>

                    <tr>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                    </tr>

                    <tr>

                        <td>&nbsp;</td>

                        <td align="right"><u>Origin Username</u>:</td>

                    <td align="right">&nbsp;</td>

                    <td><input type='text' size="30" name='origin' /></td>

                    <td>&nbsp;</td>

                    </tr>

                    <tr>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                    </tr>

                    <tr>

                        <td>&nbsp;</td>

                        <td align="right"><u>Friend in Myrmidons Gaming</u>:</td>

                    <td align="right">&nbsp;</td>

                    <td><input type='text' size="30" name='mfriend' /></td>

                    <td>&nbsp;</td>

                    </tr>

                    <tr>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                    </tr>

                    <tr>

                        <td>&nbsp;</td>

                        <td align="right"><u>Past, Present, Future Games</u>:</td>

                    <td align="right">&nbsp;</td>

                    <td><textarea name="games" rows="6" cols="30"></textarea></td>

                    <td>&nbsp;</td>

                    </tr>

                    <tr>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                    </tr>

                    <tr>

                        <td>&nbsp;</td>

                        <td align="right"><u>Imaging, Website, Coding Skills</u>:</td>

                    <td>&nbsp;</td>

                    <td><input type='text' size="30" name='arts' /></td>

                    <td>&nbsp;</td>

                    </tr>

                    <tr>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                    </tr>

                    <tr>

                        <td>&nbsp;</td>

                        <td align="right"><u>Are you a PC / System Tech</u>?</td>

                    <td>&nbsp;</td>

                    <td><input type="radio" name="tech" value="Yes">Yes <input type="radio" name="tech" value="No"> No</td>

                    <td>&nbsp;</td>

                    </tr>

                    <tr>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                    </tr>

                    <tr>

                        <td>&nbsp;</td>

                        <td align="right"><u>Occupation</u>:</td>

                    <td>&nbsp;</td>

                    <td><input type='text' size="30" name='occupation' /></td>

                    <td>&nbsp;</td>

                    </tr>

                    <tr>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                    </tr>

                    <tr>

                        <td>&nbsp;</td>

                        <td align="right"><u>Times usually online (in EST)</u>:</td>

                    <td>&nbsp;</td>

                    <td><input type='text' size="30" name='onlinetime' /></td>

                    <td>&nbsp;</td>

                    </tr>

                    <tr>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                        <td>&nbsp;</td>

                    </tr>

                    <tr>

                        <td>&nbsp;</td>

                        <td align="right"><u>How you found us</u>:</td>

                    <td>&nbsp;</td>

                    <td><input type='text' size="30" name='found' /></td>

                    <td><p>&nbsp;</p>      </td>

                    </tr>

                </table>
                <p align="center">I agree to and accept the rules and regulations of 
                    Mýrm!dõn§ Gaming International<br />
                    <input type="radio" name="rules" value="Yes">Yes
                    <input type="radio" name="rules" value="No"> No
                </p>
                <div align="center">
                    <p>
                        <input type='submit' name="submit" value="Submit Application"/>
                    </p>
                </div>

            </form>

        </div>


    </div>

</div>

<br />







<!-- INCLUDE overall_footer.html -->